html, body {
    /*Removing the white border around the page.*/
    padding: 0;
    margin: 0;
    /*Setting a sunset fade colour as the background and making it consistent throughout the page.*/
    background: linear-gradient(45deg, #FBD72B, #F9484A);
    /*Starts the colour from the left-bottom of the screen. */
    background-position: left bottom;
    /*Makes the colour singular and consistent throughout the screen.*/
    background-repeat: no-repeat;
    /*background-size: width height - calc(100% - 100px) removes exactly 100px from the end of the background.
    * Due to 'left bottom', the end of the background is at the navigation bar.*/
    background-size: 100% calc(100% - 100px);
}
