html, body {
    /*Removing the white border on the sides of the screen. Looks more appealing.*/
    margin: 0;
    padding: 0;
    /*Setting a sunset fade colour as the background and making it consistent throughout the page.*/
    background: linear-gradient(45deg, #FBD72B, #F9484A);
    /*Starts the colour from the left-bottom of the screen. */
    background-position: left bottom;
    /*Makes the colour singular and consistent throughout the screen.*/
    background-repeat: no-repeat;
    /*background-size: width height - calc(100% - 100px) removes exactly 100px from the end of the background.
    * Due to 'left bottom', the end of the background is at the navigation bar.*/
    background-size: 100% calc(100% - 100px);
}

.myFictionsContainer {
    position: relative;
    bottom: 20px;
    /*Setting the boldness and the font type.*/
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
}


.myFictionContainer {
    border-bottom: 2px solid #DA70D6;
}

/*Styling the button link which will lead to the book's chapters.*/
.myFictionContainer a {
    text-decoration: none;
    color: black;
}

h3 {
    text-align: center;
}

.userAuthorPosition {
    text-align: right;
    position: relative;
    right: 10px;
}

.myFictionBlurbPosition {
    text-align: left;
}

.favourite, .favouritedBook {
    /*The image will resize according to the page width which depends on the device used, so it resizes according to device's screen.*/
    display: flex;
    /*Positioning the container to same level as it's first parent AKA 'h3' element which is the first cell in the grid.*/
    position: absolute;
    right: 0;
}

/*Adds further styles onto 'favouritedBook' image.*/
.favouritedBook {
    /*Making the favouritedBook image the same size as the 'favourite' image. - consistency. */
    width: 31px;
}

.favouriteBtn {
    background: linear-gradient(45deg, #FBD72B, #F9484A);
}

.favouritedBtn {
    background: linear-gradient(45deg, #FBD72B, #F9484A);
}
